@charset 'utf-8';
@import url(reset.css);

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
}

header{
  width: 100%;
  /* position: fixed; */
  background: #ebebeb;
  z-index: 1;
  border-bottom: 1px solid #ebebeb;
  left: 0;
  right: 0;
  top: 0;
}

header .gnb {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1400px;
  align-items: center;
  position: relative;
}


header ul{
  display: flex;
  text-align: center;
  text-indent: 8px;
  line-height: 53px;
}

.depth{
  display: none;
  /* display: flex;
  height: 100%; */
}

.left-menu{
  font-size: 16px;
  display: flex;
  align-items: center;
}
.material-symbols-outlined{
  vertical-align:sub
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img{
  width: 100px;
  align-items: center;
  display: flex;
  top: 0;
  padding: 0 3px;
}

.right-menu{
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* 메인 슬라이더 서식 */
.cars {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 950px;
  transition: transform 0.5s ease-in-out;
}
.c-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  transition: left .3s ease-in;
  left: 0;
}
.c-wrapper>li>img{
  width: 100%;
  height: 950px;
  object-fit: cover;
}
.c-wrapper>li{
  position: absolute;
  top: 0%;
  height: 100px;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  list-style: none;
}
.c-wrapper>li .contents{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
}

.c-wrapper>li .contents>*{
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s 0.4s ease-in-out;
}

.c-wrapper>li.active .contents>*{
  color: #fff;
  opacity: 1;
}
.c-wrapper>li .contents a {
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
}

.c-wrapper>li.contents h2{
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 50px;
}


.cars .controls {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  z-index: 999999;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 5rem;
  font-size: 20px;
  color: #444;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

#prev.disabled,
#next.disabled {
  display: none;
}
.cars .controls:hover {
  background: rgba(255, 255, 255, 1);
}
.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.pager a {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
  display: inline-block;
}

.pager a.active {
  background: #000;
}

.cars {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 900px;
  transition: transform 0.5s ease-in-out;
}
.c-wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  transition: left .3s ease-in;
  left: 0;
}
.c-wrapper>li{
  position: absolute;
  top: 0%;
  height: 100px;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  list-style: none;
}
.c-wrapper>li .contents{
  position: absolute;
  left: 20%;
  top: 20%;
  transform: translate(-50%,-50%);
}

.c-wrapper>li .contents>*{
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s 0.4s ease-in-out;
}

.c-wrapper>li.active .contents>*{
  color: #fff;
  opacity: 1;
}
.c-wrapper>li .contents h2{
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
}
.c-wrapper>li .contents a {
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
}

.cars .controls {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  z-index: 999999;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  background: rgba(255, 255, 255, .5);
  text-align: center;
  line-height: 5rem;
  font-size: 20px;
  color: #444;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

#prev.disabled,
#next.disabled {
  display: none;
}
.cars .controls:hover {
  background: rgba(255, 255, 255, 1);
}
.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.pager a {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
  display: inline-block;
}

.pager a.active {
  background: #000;
}

/* Convenience 서식 */
.Convenience{
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.container{
  width: 100%;
  height: 460px;
}
.container .menu{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.container .menu li{
  padding: 4px;
  padding-top: 81px;
}

/* best-seller */
.best{
  position: relative;
  width: 1420px;
  overflow: hidden;
  height: 640px;
  transition: transform 0.5s ease-in-out;
  display: flex;
}


/*footer*/
footer{
  height: 300px;
  background: #ebebeb;
  color: #000;

}

