@charset 'utf-8';
@import url(reset.css);

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  font-size: 16px;
}

header{
  width: 100%;
  /* position: fixed; */
  background: #ebebeb;
  z-index: 1;
  border-bottom: 1px solid #ebebeb;
  left: 0;
  right: 0;
  top: 0;
}

header .gnb {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1400px;
  align-items: center;
  position: relative;
}


header ul{
  display: flex;
  text-align: center;
  text-indent: 8px;
  line-height: 53px;
}


.sub-area {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.left-menu > li:hover .sub-area {
  display: block;
}

.depth {
  list-style: none;
  padding: 0;
}

.depth li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.depth li img {
  max-width: 100%;
  height: auto;
}


.left-menu{
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}


.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img{
  width: 100px;
  align-items: center;
  display: flex;
  top: 0;
  padding: 0 3px;
}

.right-menu{
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* 메인 슬라이더 서식 */

.cars.slidewrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 900px;
}

.slidecontainer{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  transition: left .3s ease-in;
  left: 0;
}

.slidewrapper .slide{
  position: absolute;
  top: 0%;  
  width: 100%;
  height: 100%;
  text-align: center;
  list-style: none;
}

.cars.slidewrapper li>img{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.cars.slidewrapper li .contents{
  position: absolute;
  left: 10%;
  top: 20%;
  text-align: left;
}

.cars.slidewrapper li .contents>*{
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s 0.4s ease-in-out;
  margin-bottom: 20px;
  text-align: center;

}

.cars.slidewrapper li.active .contents>*{
  color: #fff;
  opacity: 1;
}

.cars.slidewrapper li .contents h2{
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  font-size: 50px;
}
.cars.slidewrapper li .contents a {
  padding: 5px 10px;
  border: 1px solid #fff;
  font-size: 30px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  margin:0px 20px;
}




.slidewrapper .controls {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  z-index: 999999;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 5rem;
  font-size: 40px;
  color: #444;
}

.slidewrapper .prev {
  left: 20px;
}

.slidewrapper .next {
  right: 20px;
}

.slidewrapper .prev.disabled,
.slidewrapper .next.disabled {
  display: none;
}
.cars .controls:hover {
  background: rgba(255, 255, 255, 1);
}
.cars .pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  text-align: center;
}

.slidewrapper .pager a {
  width: 55px;
  height: 6px;
  margin: 0 10px;
  /* border-radius: 50%; */
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
  display: inline-block;
}

.slidewrapper .pager a.active {
  background: #000;
}



/* Convenience 서식 */
.Convenience{
  padding-top: 81px;
  padding-bottom: 81px;
}
.container{
  width: 1420px;
  margin: 0 auto;
}
.container .menu{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.container .menu li{
  text-align: center;
}
.container .menu li a{
  font-size: 22px;
  font-weight: medium;
}
.container .menu li a img{
  margin-bottom: 40px;
}



/* best-seller */
.best.slidewrapper {
  position: relative;
  width: 1456px;
  overflow: hidden;
  height: 760px;
  margin: 0 auto;
  padding-bottom: 81px;
  /* transition: transform 0.5s ease-in-out; */
}
.best.slidewrapper>h2{
  font-size: 30px;
  font-weight:bold;
  text-align:center;
  margin-bottom: 30px;
}
.best.slidecontainer{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  transition: left .3s ease-in;
  left: 0;
}
.best.slidewrapper .slide{
  position: absolute;
  top: 0%;  
  width: 100%;
  text-align: center;
  list-style: none;
}

.best.slidewrapper.slide>li{
  object-fit: cover;
}
.best .rank{
  color:rgb(119, 105, 64);
  border:1px solid #ebebeb;
  background: #ebebeb;
  padding:6px 30px;
  border-radius:20px;
}
.top3_title{
  font-size:26px;
  font-weight: 500;
  color: #000;
  padding-top:30px;
}
/* rgb(119, 105, 64) */

.detail{
  display:flex;
  justify-content:center;
  padding-bottom:60px;

}
.detail>li{
  width:270px;
  border-right:1px solid #ccc;
  padding:0px 20px;
  font-size:16px;
  line-height: 20px;
  text-align:left;
  font-weight: medium;
}
.detail li:last-child{
  color:#cd9834;
  border-right:none;
  padding-top:6px;
}
.price{
  font-size:32px;
  font-weight:bold;
}

.best.slidewrapper .controls {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  z-index: 999999;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: all .3s ease-in;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 5rem;
  font-size: 24px;
  color: #444;
}
.best.slidewrapper .prev {
  left: 0;
}

.best.slidewrapper .next {
  right: 0;
}
.best.slidewrapper .prev.disabled,
best.slidewrapper .next.disabled {
  display: none;
}

.best .controls:hover {
  background: rgb(223, 222, 222);
}

.best.slidewrapper .pager{
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  text-align: center;
}
.best.slidewrapper .pager a {
  width: 55px;
  height: 6px;
  margin: 0 10px;
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
  display: inline-block;
  transform:translateY(50px);
}
/* .best.slidewrapper .pager a{
  text-align: center;
  transform:translateY(50px);
} */
.best.slidewrapper .pager a.active {
  background: #000;
}

button {
  width: 205px;
  height: 75px;
  font-size: 20px;
  background: #fff;
  color: #000;
  border: 3px solid #cd9834;
  padding: 2px 2px;
  margin: 16px;
  position: relative;
  overflow: hidden; 
  z-index:1;
  font-weight: bold;
}
button:after{
  content:'';
  position: absolute;
  background: #cd9834;
  padding:5px;
  z-index:-1;
  left: -1px; 
  top: -1px;
  right: -1px;
  bottom: -1px;
  transition:0.3s;
}
button:hover{
  color: #000;
}
button.grow_box:after{
  transform:scale(0);
}
button.grow_box:hover:after{
  /* transform:scale(1); */
  transform:none;
}


/* MODEL OVERVIEW */
.model{
  width: 100%;
  background: #ebebeb;
  margin: 0 auto;
}
.model .container h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.model .container{
  position: relative;
  height: 600px;
}
.model_tabs{
  display: flex;
}
.tab-content hr{
  width: 50%;
}
.tab-content {
  flex:2;
  display: flex;
  flex-direction: column; 
  position: static;
  text-align: center;
  box-sizing: border-box;
}

.tab-content ul {
  display: flex;
  padding: 20px;
  position: static;
  gap:6% 20px;
  flex-wrap:wrap;
}
.tab-content ul li {
  width: 42%;
}

.tab-content .grow_box{
  width: 150px;
  height: 40px;
}
.tab-content li img,
.tab-content li h3,
.tab-content li button {
  margin: 0;
}
.tab-content li:nth-child(2) img {
  margin-top: 20px;
}


.tab-menu {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  flex:1;
  border-right: 1px solid;
}

.tab-menu li {
  margin-bottom: 20px; 
}

.tab-menu li a {
  padding: 10px 20px; 
}
.tab-menu li a.active{
    color: #fff;
    background:#000;
  transition:0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
#suv,
  #cuv,
  #truck {
    display: none;
  }
  
  #suv.active,
  #cuv.active,
  #truck.active {
    display: flex;
  }
  #truck li img {
    width: 360px;
    height: 202px;
  }
  #tab-content > li{
    display: none;
}
  #tab-content > li.active{
      display: block;
  }

.model .container img{
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}


/* completecare */
.care{
  width: 100%;
}
.care .container{
  margin-top: 81px;
  margin-bottom: 81px;
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}
.text li h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text li h3{
  font-size:16px;
}

/* back to top */
#go-top {    
	width: 48px; 
	height: 48px;   
	position: fixed; 
	bottom: 48px; 
	right: 48px;
	line-height:48px;
	text-align:center; 	
	background-color:#444;
	color:#fff;
	opacity:0;
	/* visibility: hidden; */
	pointer-events: none;
	transition:opacity 0.5s;	
}
#go-top.active{
	opacity: 1;
	pointer-events: auto;
}


/*footer*/
footer{
  background: #ebebeb;
  width: 100%;
  padding:40px 0px;
  height:100px;
}
.footer_menu .container{
  width: 1420px;
  margin: 0 auto;
}
footer h2{
  float: left;
  width: 150px;
  height: 60px;
}
.f_lnb{
  display: flex;
  justify-content: space-between;
  width: 1420px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.f_lnb ul{
  display:flex;
  /* padding-top:15px; */
}
.f_lnb ul a{
  color:#000;
  border-right:1px solid #000;
  padding:0px 20px;
}

footer address{
  /* padding-top:20px; */
  line-height:30px;
  text-transform: uppercase;
  padding-left:20px;
}
footer address dl{
  border-bottom: #000;
  margin-bottom: 20px;
}
footer address dt{
  display:inline-block;
}
footer address dd{
  display:inline-block;
}
footer p{
  line-height: ;
  font-weight: 700;
}
