@charset 'utf-8';
@import url(reset.css);

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
header{
  width: 100%;
  max-width: 1920px;
  height: 53px;
  width: 100%;
  height: 53px;
  position: fixed;
  background: #ebebeb;
}

header .gnb {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
  text-align: center;
  text-indent: 8px;
  line-height: 53px;
}


.left-menu{
  padding-left: 108px;
  font-size: 16px;
}

.logo img{
  width: 100px;
  height: 47px;
  margin-right: 108px;
  display: block;
}

.right-menu{
  padding-right: 216px;
  font-size: 16px;
}

/* 메인 서식 */
.swiper-cars {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transition: left .3s ease-in;
}

.swiper-wrapper >.swiper-slide{
  
}
